body {
    background-color: #f0f0f0;
}

.editor-container {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.text-editor {
    min-height: 300px;
    border-radius: 5px;
    background-color: #272727;
    color: #fff;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
}
.btn {
    background-color: #272727;
    color: #fff;
    border: 1px solid #fff;
    height: 40px;
}
.btn:hover {
    color: #fff;
    background-color: #707070;
}
a:hover::after {
    content: attr(href);
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    top: 100%;
    left: 0;
    white-space: nowrap;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 10px 0;
}
#scaleRange {
    width: 20%;
}
#fontSelector,
#fontSizeSelector {
    border-radius: 4px;
    background-color: #272727;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    margin-right: 5px;
}

#fontSelector option:hover,
#fontSizeSelector option:hover {
    background-color: #707070;
}
.selected-image {
    border: 2px solid #007bff;
}

.editable-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.image-left {
    display: block;
    margin-right: auto;
    margin-left: 0;
}

.image-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kod bloğunun arka plan rengini siyah yap */
pre code {
    background-color: #efc862 !important;
    color: #000;
    display: block;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    white-space: pre-wrap;
}

.copy-code-button {
    background-color: #272727;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}
.copy-code-button:hover {
    background-color: #007bff;
}
